<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>register form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>
<body>
<h1 style="color:black; text-align:center;">REGISTRATION</h1>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <form th:action="@{/register}" th:method="post" th:object="${user}" th:autocomplete="off">
                <div class="form-group">
                    <label for="first_name">First name:</label>
                    <input type="text" class="form-control first_name" id="first_name" th:field="*{firstName}"
                           placeholder="First name...">
                </div>
                <div class="form-group">
                    <label for="last_name">Last name:</label>
                    <input type="text" class="form-control last_name" id="last_name" th:field="*{lastName}"
                           placeholder="Last name...">
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend3">@</span>

                        <input type="email" class="form-control username" id="username" th:field="*{email}" placeholder="Username...">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        <span th:if="${usernameAlreadyExists}">user with the given e-mail already exists</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control password" id="password" th:field="*{password}"
                           placeholder="Password...">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
                <div class="form-group">
                    <label for="phone_number">Phone number:</label>
                    <input type="tel" id="phone_number" th:field="*{phoneNumber}">
                </div>
            </form>
            <a href="#" role="button" class="btn btn-outline-primary float-left" th:href="@{/}">Back</a>
            <button type="submit" class="btn btn-outline-success float-right ">Sign up</button>
        </div>
    </div>
</div>
</body>
</html> -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>register form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>
<body class="bg-image min-vh-100" style="background-image: url('https://www.tirerack.com/content/dam/tirerack/desktop/components/hero/TDG_0419.jpg'); background-repeat: no-repeat; background-size: cover;
  object-fit: cover; overflow: hidden">
<div class="d-flex justify-content-center align-items-center">
    <div class="container d-flex p-4 my-3 bg-dark text-white justify-content-center align-items-center" style="opacity: 90%">
        <div class="col-12 col-md-8 col-lg-6">
            <form th:action="@{/register}" th:method="post" th:object="${user}" th:autocomplete="off" class="needs-validation" novalidate>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationTooltip01">First name</label>
                        <input type="text" class="form-control first_name" id="validationTooltip01"
                               placeholder="First name" th:field="*{firstName}" required>
                        <div class="invalid-tooltip">
                           Please enter a valid first name!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationTooltip02">Last name</label>
                        <input type="text" class="form-control first_name" id="validationTooltip02"
                               placeholder="First name" th:field="*{lastName}" required>
                        <div class="invalid-tooltip">
                            Please enter a valid last name!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationTooltipUsername">Username</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" th:field="*{email}" required id="validationTooltipUsername">
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                            <span th:if="${usernameAlreadyExists}">user with the given e-mail already exists</span>
                            <div class="invalid-tooltip" th:if="${usernameAlreadyExists}">user with the given e-mail already exists
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" th:field="*{password}" required>
                    <div class="invalid-tooltip" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Phone number</label>
                    <input type="tel" class="form-control" placeholder="123456789" th:field="*{phoneNumber}" required>
                    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                    <div class="invalid-tooltip" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">
                    </div>
                </div>
                <a href="#" role="button" class="btn btn-outline-primary float-left" th:href="@{/}">Back</a>
                <button type="submit" class="btn btn-outline-success float-right ">Sign up</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>

