<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Car</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script th:src="@{/js/date-time-picker.js}"></script>
    <script th:src="@{/js/invalid.js}"></script>
</head>
<body class="bg-image min-vh-100" style="background-image: url('https://www.tirerack.com/content/dam/tirerack/desktop/components/hero/TDG_0419.jpg');
 background-repeat: no-repeat; background-size: cover;object-fit: cover; overflow: hidden">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="opacity: 90%">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">
            <a class="navbar-brand">Tires Service</a>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" th:href="@{/user}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/car}">Car</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pack}" aria-disabled="true">Pack</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/appointment}" aria-disabled="true">Appointment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/user}" aria-disabled="true">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/logout}" aria-disabled="true">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="d-flex justify-content-center align-items-center">
    <div class=" container row  p-3 my-3 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6 bg-light text-center" style=" opacity: 90%">
            <div class="list-group">
                <button type="button" class="btn btn-outline-secondary">Edit profile</button>
                <form th:action="@{user}" th:method="delete">
                <button type="button" class="btn btn-outline-danger">Delete account</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
