<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>
<body class="bg-image min-vh-100" style="background-image: url('https://www.tirerack.com/content/dam/tirerack/desktop/components/hero/TDG_0419.jpg');
 background-repeat: no-repeat; background-size: cover;object-fit: cover; overflow: hidden">
<div class="d-flex justify-content-center align-items-center" style="opacity: 90%">
    <div class="container d-flex p-4 my-3 bg-dark text-white justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h1>Choose the option</h1>
        </div>
            <form >
                <div class="col-md-4 mb-3">
                    <button type="submit" class="btn btn-outline-success">Make an appointment</button>
                </div>
                <div class="col-md-4 mb-3">
                    <button type="submit" class="btn btn-outline-success">Your profile</button>
                </div>
                <div class="col-md-4 mb-3">
                    <button type="submit" class="btn btn-outline-success">Change appointment</button>
                </div>
                <div class="col-md-4 mb-3">
                    <button type="submit" class="btn btn-outline-success">Delete appointment</button>
                </div>
            </form>
            <form th:action="@{/logout}" th:method="post">
                <button type="submit" class="btn btn-primary">Log out</button>
            </form>
    </div>
</div>
</body>
</html>
